.section {


    &--team {
    background-color: var(--secondary-bg-color);
    }
}


/* Block employee-card */
.employee-card {
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
}


.employee-card__meta {
    padding: 30px 0 24px;

    @media screen and (min-width: 1200px) {
        padding: 30px 0;
    }
}


.employee-card__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}


.employee-card__profession {
    margin: 0 0 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}