.hero {
  padding: 118px 0;

  background-color: var(--hero-footer-bg-color);
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  &--overlay {
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/section-hero/hero-bg-image-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/section-hero/hero-bg-image-mobile-@2x.jpg');
    }

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/section-hero/hero-bg-image-tablet.jpg');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../images/section-hero/hero-bg-image-tablet-@2x.jpg');
      }
    }

    @media screen and (min-width: 1200px) {
      max-width: 1600px;
      background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/section-hero/hero-bg-image-desktop.jpg');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../images/section-hero/hero-bg-image-desktop-@2x.jpg');
      }
    }
  }
}

.hero__title {
  margin: 0 auto 30px;

  max-width: 360px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  @extend %button;
}
