// Block client-gallery
.client-gallery {
  @include gallery-two-mobile-three-tablet-six-screen;
}

//Block client-card.
.client-card {
  @include custom-flex;

  height: 92px;

  border: 1px solid var(--our-clients-logo-color);
  border-radius: 4px;

  //   background-color: var(--accent-color);
  fill: var(--our-clients-logo-color);
  transition: border var(--animate-time-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
