// Block portfolio-nav
.portfolio-nav {
    margin-bottom: 40px;


    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }


    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}


.portfolio-nav__item {


    @media screen and (max-width: 767px) {
        margin-bottom: 15px;
    }


    &:not(:last-child) {
        margin-right: 8px;
    }
}


.portfolio-nav__btn {
    padding: 6px 22px;

    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;

    background-color: var(--secondary-bg-color);
    border: 0;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color var(--animate-time-function),
                box-shadow var(--animate-time-function),
                color var(--animate-time-function);


    &:hover,
    &:focus,
    &--active {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                    0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}


// Block portfolio-list
.portfolio-list {
    margin: -15px;
}


.portfolio-list__item {
    margin: 15px;


    @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 30px) / 2);
    }
    
    
    @media screen and (min-width: 1200px) {
        width: calc((100% - 3 * 30px) / 3);
    }
}