.footer-contacts {


    @media screen and (max-width: 1199px) {
        text-align: center;
        margin-bottom: 60px;
    }


    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
}


.footer-contacts__list {


    &:not(:last-child) {
        margin-bottom: 9px;
    }
}


.footer-contacts__office {
    color: var(--primary-white-color);
}


.footer-contacts__link {
    color: var(--footer-text-color);

    transition: color var(--animate-time-function);


    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}