.contacts {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    flex-grow: 2;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.contacts__list {
  @media screen and (max-width: 767px) {
    &--phone {
      margin-bottom: 32px;
    }

    &--mail {
      margin-bottom: 64px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color var(--animate-time-function);

  &--phone {
    font-size: 24px;
    line-height: 1.18;
    color: var(--accent-color);
  }

  @media screen and (min-width: 400px) {
    &--phone {
      font-size: 34px;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;

    &--mail {
      padding-top: 21px;
      padding-bottom: 5px;
    }

    &--phone {
      padding-top: 5px;
      padding-bottom: 21px;

      color: inherit;
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 8px;

    &--mail {
      width: 14px;
      height: 10px;
    }

    &--phone {
      width: 10px;
      height: 14px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;

    &--mail {
      width: 16px;
      height: 12px;
    }

    &--phone {
      width: 10px;
      height: 16px;
    }
  }
}
