.subscribe {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
}

.subscribe__wrapper {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.subscribe__input {
  height: 50px;
  padding: 15px 16px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: var(--hero-footer-bg-color);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  @media (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 70px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }

  &:focus {
    background-color: var(--hero-footer-bg-color);
  }
}

.subscribe__button {
  @extend %button;

  @include custom-flex(inline-flex);

  max-width: 200px;
  padding: 10px 28px 10px 28px;
}

.subscribe__button-text {
  margin-right: 10px;
}

.subscribe__button-icon {
  width: 24px;
  height: 24px;
}
